<!DOCTYPE html>
<html>
<head>
    <title><%= USERNAME %> | Photodit</title>
    <meta charset="utf-8">

    <!-- External style resources -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Internal style resources -->
    <link href="../public/styles/reset-css.css" rel="stylesheet">
    <link href="../public/fonts/fonts.css" rel="stylesheet">
    <link href="../public/styles/user-css.css" rel="stylesheet">
    <link href="../public/styles/search-export-css.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-link">
            <a href="/profile">Photodit</a>
        </div>
        <div>
            <form id="search-input-gl" action="/search" method="GET">
                <input id="search-input-gl-input" type="search" name="search" placeholder="Search...">
                <input id="search-input-gl-button" type="submit" value="Search">
            </form>
        </div>
    </header>

    <div class="front-data">
        <div class="front-data-followings">
            <button onclick="closeFList1()">Close</button>
            <div id="f-d-followings"></div>
        </div>
        <div class="front-data-followers">
            <button onclick="closeFList2()">Close</button>
            <div id="f-d-followers"></div>
        </div>
    </div>

    <div class="center">
        <div class="user-username">
            <%
            let username_back = ["background-color: ", background, ";"].join("");
            let f_style = (isFollower)? "u-i-u-followed": "u-i-u-unfollowed";
            %>
            <div class="user-username-text-wrap" style="<%= username_back %>">
                <p class="user-username-text"><%= USERNAME %></p>
            </div>
            <div id="user-username-follow" class="<%= f_style %>" onclick="followUser()">
                <p id="follow-button-text"><%= (isFollower)? "Unfollow": "Follow" %></p>
                <p id="follow-button-icon">
                    <i class="material-icons" id="follow-button-icon-i"><%= (isFollower)? "check_box": "person_add" %></i>
                </p>
            </div>
        </div>
        <div class="user-info">
            <div class="user-info-wrapper">
                <% if(STATUS !== null) { %>
                <div class="user-info-status">
                    <span class="user-info-status-span">&quot;<%= STATUS %>&quot;</span>
                    <p class="user-info-status-p" onclick="closeShowStatus()">Close Status</p>
                </div>
                <% } %>
                <%
                let u_i_p_style = ["grid-template-columns: repeat(", FULLNAME_CNT, ", auto)"].join("");
                %>
                <div class="user-info-personal" style="<%= u_i_p_style %>">
                    <% if(FULLNAME !== null) { %>
                    <p class="user-info-personal-p">
                        <i class="material-icons">person</i> <%= FULLNAME %>
                    </p>
                    <% } %>
                    <% if(EMAIL !== null) { %>
                    <p class="user-info-personal-p">
                        <i class="material-icons">email</i> <span title="Doubleclick to copy Email" id="copy-email" ondblclick="copyEmail()"><%= EMAIL %></span>
                    </p>
                    <% } %>
                </div>
                <% if(FULLNAME !== null || EMAIL !== null) { %>
                <p id="u-i-personal-button" onclick="closePInfo(true)">Close Personal Information</p>
                <% } %>
            </div>
            <div class="number-data">
                <div class="number-data-1">
                    <p title="Followers of this User" onclick="showFollowings()">
                        <span id="num-data-followings">0</span> Followings
                    </p>
                    <p title="Followings by this User" onclick="showFollowers()">
                        <span id="num-data-followers">0</span> Followers
                    </p>
                </div>
                <div class="number-data-2">
                    <p title="Number of All Public and Protected Photos"><span id="num-data-photos">0</span> Photos</p>
                    <p title="Number of Likes on All Public and Protected Photos"><span id="num-data-likes">0</span> Likes</p>
                    <p title="Number of Comments on All Public and Protected Photos"><span id="num-data-comments">0</span> Comments</p>
                </div>
            </div>
        </div>
        <div class="images-list">
            <div id="images-list"></div>
            <div class="images-list-bottom">
                <div class="image-pre-loader"></div>
            </div>
        </div>
    </div>

    <script src="../public/scripts/helper-script.js"></script>
    <script src="../public/scripts/user-script.js"></script>
    <script src="../public/scripts/user-script-2.js"></script>
    <script src="../public/scripts/search-script.js"></script>
</body>
</html>
